appnope==0.1.0
arviz==0.9.0
astropy==4.0.1.post1
backcall==0.2.0
bokeh==1.3.4
certifi==2020.6.20
cftime==1.2.1
cycler==0.10.0
decorator==4.4.2
exoplanet==0.3.2
fastprogress==1.0.0
h5py==2.10.0
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
netCDF4==1.5.4
numpy==1.19.1
packaging==20.4
pandas==1.1.1
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.6
ptyprocess==0.6.0
pybind11==2.5.0
Pygments==2.6.1
pymc3==3.9.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scipy==1.5.2
setuptools-scm==4.1.2
six==1.15.0
-e git://github.com/rodluger/starry@71567d0173af468773bfba5f1ffee525139f0ce5#egg=starry
-e git://github.com/rodluger/starry_gp@af9441d136026825a31bc662bacbd7469e0f1c15#egg=starry_gp
Theano==1.0.5
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
typing-extensions==3.7.4.3
wcwidth==0.2.5
xarray==0.16.0
